{block content}
<div class="container">
    <div class="jumbotron spaced-top">
        <h1>Welcome to Instante</h1>
        <p>Instante skeleton is ready, you can start creating your application now.</p>
    </div>
</div>

