/app/config/local.neon
/app/config/environment
/app/config/developerIps

/temp/*
!temp/.htaccess
!temp/web.config
!/temp/sessions
/temp/sessions/*
!temp/sessions/.gitkeep

/log/*
!/log/.htaccess
!/log/web.config

/vendor/*
!/vendor/.htaccess
!/vendor/web.config

/frontend/bower_components/
/frontend/node_modules/
/frontend/tmp/
/frontend/RequireJSDependencies.json
/frontend/src/es5/

/tests/temp
/tests/php.ini
/tests/php-local.ini
/tests/skeleton/deploy-script-input

/www/.maintenance.php
