libs/composer
app/config/local.neon
app/config/environment

temp
log
!temp/.htaccess
!temp/web.config
!log/.htaccess
!log/web.config

frontend/bower_components/
frontend/node_modules/
frontend/tmp/

# composer.lock is ignored only for Instante blank project package purposes, remove when creating new project!
